<div class="container">
  <!-- <div class="jumbotron"> -->
  <% @comments.each do |comment| %>
<div class="row">
  <div class="col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b><%= link_to "#{comment.user.username.upcase}:", admins_set_user_path(comment.post.user) %></b>
        <br>
        <em><%= link_to "#{comment.post.title}" , admins_set_post_path(comment.post) %> (<%= comment.post.comments.count %>)<br> </em>
        <span class="text-muted"><%= comment.post.created_at.strftime('%b %d, %Y') %></span>
      </div>
      <div class="panel-body">
        <em><%= comment.text %></em>
      </div>
    </div>
    <div>
      <%= link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" }, :type => "button", :class => "btn btn-danger" %>
    </div><br>
  </div>
</div>
<% end %>
<!-- </div> -->
<%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
</div
