<div class="container">

  <div class="jumbotron">
  <% if current_user == @user %>
    <h2>My Page <%= @user.username.capitalize %>
  <% else %>
    <h2><%= "#{@user.username.capitalize} page" %>
  <% end %>
  <span class="text-danger"><%= "[admin]" if @user.admin? %></span></h2>

  <% unless @user.user_info.empty? %>
  <p>
    <b>About me:</b> <%= @user.user_info %>
  </p>
  <% end %>
  <% if current_user&.admin? %>
    <br><%= link_to "Set this account as admin", admins_set_user_path(@user), :class => "btn btn-primary" %>
  <% end %>
  </div>

  <% if @posts.empty? %>
    <span class="text-muted">No posts</span>
  <% end %>

<% unless @posts.empty? %>
  <% @posts.each do |post| %>
  <div class="row">
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b><%= link_to "#{post.user.username.upcase}:", user_posts_path(post.user) %></b>
          <br>
          <em><%= link_to "#{post.title}" , post_path(post) %> (<%= post.comments.count %>)<br> </em>
          <span class="text-muted"><%= "created (#{post[:created_at].day}-#{post[:created_at].mon}-#{post[:created_at].year})" %></span>
        </div>
        <div class="panel-body">
          <em><%= post.text %></em>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>

</div>
